.services_feature {
    background-color: var(--col-primary-400);
    color: white;
    h2 {
        color: white;
    }
    .cards {
        width: min(1200px, 90vw);
        display: grid;
        gap: 1rem;
        margin-inline: auto;
        @media (min-width:992px) {
            grid-template-columns: 2fr 3fr;
        }
        &__grid {
            gap: 0.5rem;
            min-height: 340px;
            @media (min-width:768px) {
                display: flex;
                max-height: 330px;
            }
            @media (min-width:992px) {
                max-height: 500px;
            }
            @media (min-width:1200px) {
                max-height: 450px;
            }
        }
    }
    .card {
        // outline: 2px solid limegreen;
        position: relative;
        color: #111;
        border-radius: var(--border-sm);
        margin-bottom: 1rem;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        @media (min-width:768px) {
            display: flex;
        }
        &__title {
            font-family: var(--ff-title);
            font-size: var(--fs-500);
            line-height: 1;
            cursor: pointer;
            padding: 1rem 0.5rem;
            background-color: var(--col-secondary-400);
            color:white;
            border-top-left-radius: var(--border-sm);
            border-top-right-radius: var(--border-sm);
            @media (min-width:768px) {
                display: inline;
                writing-mode: vertical-rl;
                text-align: end;
                transform: rotate(180deg);
                border-radius: var(--border-sm);
            }
            transition: background-color var(--transition);
            &:hover {
                background-color: color-mix(in srgb, var(--col-secondary-400), white 10%);
            }
        }
        &__content { 
            background-color: white;
            padding: 1rem;
            font-size: var(--fs-300);
            border-bottom-left-radius: var(--border-sm);
            border-bottom-right-radius: var(--border-sm);
            display: grid;
            grid-template-rows: auto 1.5rem;        
        }

        img {
            height: 80px;
            display: block;
            margin-bottom: 0.5rem;
        }

        &__link a {
            font-family: var(--ff-title);
            font-size: var(--fs-400);
            position: relative;
            &::after {
                content: "\00BB";
                position: absolute;
                padding-left: 0.5rem;
                transition: padding var(--transition);
            }
            &:hover::after {
                padding-left: 1rem;
                color: var(--col-secondary-400);
            }
        }

        @media (min-width:768px) {
            min-height: 340px;
            &__content {
                margin-left: -1px;
                border-top-right-radius: var(--border-sm);
                border-bottom-right-radius: var(--border-sm);
                border-bottom-left-radius: 0;
                opacity: 0;
                display: none;
                width: 0;
                padding: 0;
                will-change: width;
            }
            &.active {
                .card__content {
                    width: 100%;
                    padding: 1rem;
                    opacity: 1;
                    display: grid;
                    grid-template-rows: auto 1.5rem;        
                }
                .card__title {
                    background-color: var(--col-accent-400);
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    color: var(--body-color);
                }
            }
        }
    }
}