.team_detail {
    &__image {
        display: block;
        aspect-ratio: 3 / 4;
        width: 100%;
        object-fit: cover;
        object-position: center;
        margin-bottom: 0.5rem;
        max-width: 300px;
        margin-inline: auto;
    }
    &__name {
        font-size: var(--fs-700);
        margin-bottom: 0;
    }
    &__role {
        font-size: var(--fs-300);
        text-transform: uppercase;
        margin-bottom: 1rem;
    }
    &__meta {
        display: flex;
        gap: 1rem;
    }
}