.deal {
    text-align: center;
    border: 10px solid var(--col-primary-400);
    padding: 1rem;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    // transition: border-color var(--transition), background-color var(--transition);
    // &:hover {
    //     border-color: var(--col-accent-400);
    //     color: var(--col-primary-400);
    //     background-color: var(--col-accent-100);
    // }
    &__disclaimer {
        font-size: var(--fs-100);
        text-transform: uppercase;
        margin-bottom: 0.5rem;
    }
    &__logo {
        margin-bottom: 0.5rem;
        width: 80px;
        height: 80px;
    }
    &__intro {
        font-size: var(--fs-200);
        text-transform: uppercase;
        margin-bottom: 0.25rem;
    }
    &__title {
        text-transform: uppercase;
        font-weight: var(--fw-700);
        font-size: var(--fs-300);
        padding-block: 0.5rem;
    }

    &__value {
        font-weight: var(--fw-700);
        font-size: var(--fs-500);
        color: var(--col-primary-400);
        margin-bottom: 0.5rem;
    }
    &__description_pre {
        font-size: var(--fs-200);
        text-transform: uppercase;
        margin-bottom: 0.25rem;
    }

    &__description {
        font-size: var(--fs-300);
        font-weight: var(--fw-700);
        margin-bottom: 0.5rem;
    }

    &__finance_pre {
        font-size: var(--fs-200);
        text-transform: uppercase;
        margin-bottom: 0.25rem;
    }

    &__finance {
        text-transform: uppercase;
        font-weight: var(--fw-700);
        font-size: var(--fs-300);
        margin-bottom: 0.5rem;
    }

    &__date {
        font-size: var(--fs-200);
    }
    &__sidebar {
        @media (max-width:992px) {
            padding-bottom: 1rem;
            border-bottom: 2px solid var(--col-primary-400);
        }
        @media (min-width:992px) {
            position: sticky;
            top: var(--h-top);
            border-right: 2px solid var(--col-primary-400);
        }
    }
}