$col-primary: #0c4254;
$col-secondary: #e9988e;

:root {

    // --col-primary-400: #1F2A42;
    --hsl-primary-400: 221 36% 19%;
    --col-primary-400: hsl(var(--hsl-primary-400));
    
    // --col-secondary-400: #0074CC;
    --hsl-secondary-400: 206 100% 40%;
    --col-secondary-400: hsl(var(--hsl-secondary-400));

    // --col-accent-400: #FF8400;
    --hsl-accent-400: 31 100% 50%;
    --col-accent-400: hsl(var(--hsl-accent-400));


    --col-grey-900: #444;
    --col-grey-800: #777;
    --col-grey-600: #e8e8e8;
    --col-grey-400: #e9eef0;
    --col-grey-200: #f1f4f5;
    

    --h-top: 122px;

    --fw-300: 300;
    --fw-400: 400;
    --fw-700: 700;


    --fs-200: clamp(0.69rem, 0.66rem + 0.15vw, 0.78rem);
    --fs-300: clamp(0.83rem, 0.80rem + 0.18vw, 0.94rem);
    --fs-400: clamp(1.00rem, 0.96rem + 0.22vw, 1.13rem);
    --fs-450: clamp(1.10rem, 1.00rem + 0.24vw, 1.20rem);
    --fs-500: clamp(1.20rem, 1.15rem + 0.26vw, 1.35rem);
    --fs-600: clamp(1.44rem, 1.38rem + 0.31vw, 1.62rem);
    --fs-700: clamp(1.73rem, 1.65rem + 0.38vw, 1.94rem);
    --fs-800: clamp(2.07rem, 1.98rem + 0.45vw, 2.33rem);
    --fs-900: clamp(2.49rem, 2.38rem + 0.54vw, 2.80rem);


    --transition: 0.2s ease-out;

    --border-lg: 1rem;
    --border-sm: 0.5rem;
    --border-xs: 0.25rem;

    --ff-body: 'Lato', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --ff-title: 'Abel', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}